$info: #9accc9;
$warning: #f5a998;

#profile-section-details {
    background-image: url("https://images.unsplash.com/photo-1529156069898-49953e39b3ac?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    min-height: 55vh;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 100px;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        z-index: 1;
        height: 100%;
        // background-color: rgba($color: $info, $alpha: 0.6);
        background: linear-gradient(180deg, rgba(#000, $alpha: 0.8), rgba($info, $alpha: 0.6));
        top: 0;
        left: 0;
    }

    .top-banner {
        width: 100%;
        left: 0;
        position: absolute;
        z-index: 2;

        .container {
            ul.ant-menu-overflow {
                line-height: 38px;

                li.ant-menu-overflow-item {
                    // background-color: red;
                    font-weight: bold;
                    color: white;
                    font-family: Arial, Helvetica, sans-serif;
                    border-radius: 5px;
                    padding: 0 20px;
                    margin: 0 10px;
                }

                li.ant-menu-item-selected,
                li.ant-menu-item-active {
                    background: rgba(#fff, $alpha: 0.2);

                    &::after {
                        border: none;
                    }

                    &:hover {

                        &::after {
                            border: none;
                        }
                    }
                }

                li.ant-menu-overflow-item {

                    .ant-menu-submenu-title {
                        color: white;
                    }
                }
            }
        }
    }

}

// overview page
#overview-section-details {
    transform: translateY(-70px);
    z-index: 4;
    // width: 100%;
    top: 0;
    position: relative;
}

// organizerEvents-section  
#organizerEvents-section {
    .card {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

        .row {
            .col {
                .card {
                    position: relative;

                    .card-img {
                        height: 200px;
                        overflow: hidden;
                        border-radius: 0px;
                        position: relative;

                        img {
                            transition: all 0.4s ease;
                            height: 100%;
                        }

                        .seats {
                            position: absolute;
                            bottom: 0;
                            border-radius: 0 10px 0 0;
                            font-weight: bold;
                            font-size: large;
                            // opacity: 0;
                            transform: translateY(90px);
                            z-index: 2;
                            transition: all 0.3s ease;


                        }
                    }

                    .card-body {
                        .card-title {
                            a {
                                color: #000;
                                text-decoration: none;

                                &:hover {
                                    color: $info;
                                }
                            }
                        }
                    }

                    &:hover {
                        .card-img {
                            img {
                                transition: all 0.4s ease;
                                transform: scale(1.1) rotate(3deg);
                            }

                            .seats {
                                transition: all 0.3s ease;
                                transform: translateY(0px);

                            }
                        }
                    }
                }
            }
        }
    }
}






@media only screen and (max-width: 992px) {

    // overview page
    #overview-section-details {
        transform: translateY(-70px);
        z-index: 4;
        // width: 100%;
        top: 0;
        position: relative;

    }

}



@media only screen and (max-width: 768px) {
    #profile-section-details {
        min-height: 57vh;

        .top-banner {
            .container {
                ul.ant-menu-overflow {
                    line-height: 38px;

                    li.ant-menu-overflow-item {
                        // background-color: red;
                        font-weight: normal;
                        padding: 0 10px;
                        margin: 0 5px;
                    }

                    li.ant-menu-item-selected,
                    li.ant-menu-item-active {
                        background: rgba(#fff, $alpha: 0.2);

                        &::after {
                            border: none;
                        }

                        &:hover {

                            &::after {
                                border: none;
                            }
                        }
                    }
                }
            }
        }

    }

    // overview page
    #overview-section-details {
        // background-color: red;

        transform: translateY(-39px);
    }

    // organizerEvents-section  
    #organizerEvents-section {
        .card:nth-child(1) {
            box-shadow: none !important;

            .row {
                .col {
                    .card {
                        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

                    }
                }
            }

        }
    }
}


@media only screen and (max-width: 576px) {
    #organizerEvents-section {
        .row {
            .col {
                .card {
                    .card-img {
                        // height: 150px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 420px) {
    #organizerEvents-section {
        .row {
            .col {
                .card {
                    .card-img {
                        height: 150px;
                    }
                }
            }
        }
    }

}